@import url('http://fonts.cdnfonts.com/css/bebas');

:root {
    --primary-color: #b80000;
    --secondary-color: #a8a8a8;
    --light-grey: #d9d9d9;
    --dark-grey: #363435;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* header starts here */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    width: 100vw;
    height: 8rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 5rem;
    background-color: var(--white);
}

.logo {
    width: 20rem;
    justify-self: start;
    align-self: center;
    cursor: pointer;
    z-index: 999;
}

.menu-toggle-btn {
    margin-top: -6rem;
    justify-self: end;
    color: #b80000;
    font-size: 3.5rem;
    z-index: 999;
    display: none;
}

.menu-toggle-btn:hover {
    cursor: pointer;
}

.close-menu {
    margin-top: -1rem;
    font-size: 4rem;
    display: none;
}


.navbar {
    height: 100%;
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 998;
}

.navbar>ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-items {
    height: 100%;
    display: inline-block;
}

.nav-text {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 2.5rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.nav-text:hover {
    color: var(--dark-grey);
    cursor: pointer;
}

.nav-btn {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    margin-left: 5rem;
}

.nav-btn:hover {
    cursor: pointer;
    color: var(--white);
    background-color: #870c0c;
}

/* SECTION-1 STARTS HERE */
.sec-1 {
    background: url(images/BIG.jpg) no-repeat center;
    background-size: cover;
    min-height: 95vh;
    width: 100vw;
    display: flex;
    justify-items: start;
    align-items: center;
    padding: 10rem;
}

.sec-1>h1 {
    color: white;
    width: 100%;
    font-size: 7rem;
    font-weight: 500;
    font-family: 'Bebas', sans-serif;
}

/* section2 starts here */
.sec2 {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 10rem;
    place-items: center;
}

.sec2>h2 {
    font-size: 4.2rem;
    font-weight: bold;
    text-align: center;
}

.sec2-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15rem;
    place-items: center;
}

.sec-input-content {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    place-items: center;
    margin-top: 3rem;
}

.input-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.label1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.label2 {
    margin-top: 3rem;
}

.input {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border: 0.2rem solid var(--secondary-color);
}

.range-slider {
    width: 100%;
}

.selector1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector {
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.range1 {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background: var(--primary-color);
    border-radius: 1rem;
}

.range1>input[type="range"] {
    position: absolute;
    width: 100%;
    height: 0.5rem;
    border: none;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
}

.range1>input[type="range"]::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid var(--secondary-color);
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    border-radius: 50%;
    appearance: none;
    z-index: 998;
    cursor: pointer;
}

.range2 {
    position: relative;
    width: 100%;
}

.range2>input {
    position: absolute;
    width: 100%;
}

.sec2-btn {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    margin-top: 3rem;
    justify-self: start;
}

.sec2-btn:hover {
    cursor: pointer;
    color: var(--white);
    background-color: #870c0c;
}

/* section3 starts here */
sec3 {
    display: grid;
    grid-template-rows: repeat(3, auto);
    width: 100vw;
    place-items: center;
}

.sec3>h2 {
    font-size: 4.2rem;
    font-weight: bold;
    text-align: center;
}

.sec3-bar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 3rem;
    background-color: var(--light-grey);
}

.sec3-bar:hover {
    cursor: pointer;
}

.stock {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    text-align: center;
}

.sold {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    text-align: center;
    background-color: var(--primary-color);
}

.sec3-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding: 3rem 10rem;
    place-items: center;
    grid-column-gap: 15rem;
    grid-row-gap: 4rem;
}

.sec3-car {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.box {
    width: 100%;
    height: auto;
    position: relative;
}

.box>img {
    display: block;
    width: 100%;
    height: auto;
    border: 0.5rem solid var(--secondary-color);
    border-radius: 8%;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(181, 8, 8, 0.6), rgba(177, 22, 22, 0.4), rgba(162, 16, 16, 0.6));
    border-radius: 8%;
    color: var(--white);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.box:hover .overlay {
    cursor: pointer;
    opacity: 1;
}


.sec3-car>p {
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-top: 2rem;
}

.sec3-car>h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* section4 */
.sec4 {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    text-align: center;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 2rem;
    padding: 5rem 3rem;
}

.sec4>p {
    padding: 1rem 0;
}

.sec4>p:nth-child(3) {
    font-size: 2.5rem;
}

/* section5 */
.sec5 {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 5rem;
}

.sec5-1 {
    align-self: center;
    width: 100%;
    justify-self: start;
}

.sec5-1>img {
    width: 30rem;
    height: auto;
}

.sec5-list1 {
    margin-top: 3rem;
}

.sec5-list-items {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem 0;
}

.sec5-list1>li>img {
    width: 4rem;
    height: auto;
}

.sec5-list1>li>a {
    color: var(--dark-grey);
    font-size: 1.8rem;
    text-align: end;
    padding-left: 2rem;
}

.sec5-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-left: 0.3rem solid var(--secondary-color);
    border-right: 0.3rem solid var(--secondary-color);
    padding: 2rem 0;
}

.sec5-2>ul>li {
    padding: 1rem 0;
}

.sec5-2>ul>li>a {
    color: var(--dark-grey);
    font-size: 2.8rem;
}

.sec5-2>ul>li>a:hover {
    cursor: pointer;
    color: var(--black);
}

.sec5-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 2rem 2rem;
}

.sec5-3>p {
    font-size: 2.5rem;
    color: var(--dark-grey);
    text-align: center;
    padding-bottom: 3rem;
}

.input1 {
    border: none;
    width: 100%;
}

.input1>input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 2.5rem;

    border: 0.15rem solid var(--secondary-color);

}

.sec5-3>input::placeholder {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 700;
}

.flags {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    margin: 3.5rem 0;
}

.flags>img {
    width: 4.5rem;
    height: 3rem;
    margin: 0 2rem;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3rem;
}

.social-icons>img {
    margin: 0 2rem;
    width: 9rem;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: auto;
}

.footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    padding: 3rem;
}












@media only screen and (max-width:80rem) {

    /* Header */
    .menu {
        padding: 0 2rem;
    }

    .navbar {
        grid-gap: 2rem;
    }

    .nav-text {
        padding: 0 2rem;
    }

    .nav-btn {
        margin-left: 1rem;
    }

    .sec-1 {
        min-height: 80vh;
    }

    .sec-1>h1 {
        font-size: 6.5rem;
    }

    .sec2 {
        padding: 5rem;
    }

    .sec2>h2 {
        font-size: 4rem;
    }

    .sec3-content {
        padding: 3rem 6rem;
        grid-column-gap: 8rem;
    }

    .sec3-content>h2 {
        font-size: 2rem;
    }

    .sec3-content>p {
        font-size: 1rem;
    }

    .sec5 {
        grid-template-columns: repeat(2, auto);
        padding: 2rem;
    }

    .sec5-1 {
        padding: 0 2rem 3rem 10rem;
    }

    .sec5-2 {
        padding-right: 10rem;
        margin-top: 6rem;
        border: none;
    }

    .sec5-2>ul>li>a {
        font-size: 2.6rem;
    }

    .sec5-3 {
        border-top: 0.1rem solid var(--secondary-color);
        grid-column: 1 / span 2;
        padding: 5rem 2rem 2rem 2rem;
    }

    .input1 {
        width: 90%;
    }

}

@media only screen and (max-width:67rem) {

    /* Header */
    .navbar {
        grid-gap: 1rem;
    }

    .nav-text {
        padding: 0 1rem;
    }

    .nav-btn {
        padding: 1rem 1.5rem;
    }
}

@media only screen and (max-width:58rem) {
    html {
        font-size: 55%;
    }

    /* Header */
    header {
        position: relative
    }

    .menu {
        grid-template-columns: auto;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 12rem;
        padding-bottom: 5rem;
        background-color: var(--white);
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s linear;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .navbar>ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .nav-items {
        width: 100%;
        display: block;
    }

    .nav-text {
        font-size: 3rem;
        color: var(--primary-color);
        align-items: center;
        justify-content: center;
        letter-spacing: 0.05rem;
    }

    .nav-btn {
        margin: 0 auto;
        padding: 1rem 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }

    .menu-toggle-btn {
        display: block;
    }

    .active .close-menu {
        display: block;
    }

    .active .open-menu {
        display: none;
    }

    /* section1 */
    .sec-1 {
        background-image: url(images/middle.png);
        padding: 3rem;
    }

    .sec-1>h1 {
        font-size: 6rem;
        line-height: 8rem;
    }

    /* section2 */
    .sec2 {
        padding: 3rem;
    }

    .sec2-content {
        grid-gap: 10rem;
    }

    /* section3 */
    .sec3-content {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 10rem;
    }

    /* section5 */
    .sec5-1 {
        padding-left: 2rem;
    }

    .sec5-2 {
        padding-top: 6.5rem;
        padding-right: 2rem;
    }

    .sec5-2>ul>li>a {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:40rem) {
    html {
        font-size: 50%;
    }

    /* header */
    .logo {
        width: 18rem;
        margin-top: 0.5rem;
    }

    .menu-toggle-btn {
        font-size: 3rem;
    }

    /* section1 */
    .sec-1 {
        padding: 1rem;

    }

    .sec-1>h1 {
        line-height: 6.5rem;
        width: 20%;
    }

    /* section2 */
    .sec2-content {
        grid-template-columns: auto;
        grid-gap: 2rem;
    }

    .sec2-btn {
        justify-self: center;
    }

    /* section3 */
    .sec3-content {
        grid-template-columns: auto;
        grid-column-gap: 5rem;
        text-align: center;
    }

    /* section5 */
    .sec5-2 {
        padding-top: 6.5rem;
        padding-right: 1rem;
    }

    .sec5-2>ul>li>a {
        font-size: 2rem;
    }

    .flags {
        grid-template-columns: repeat(3, auto);
        grid-row-gap: 2rem;
    }

    .social-icons {
        padding-bottom: 0;
    }

    .social-icons>img {
        margin: 0 1rem;
        width: 7rem;
    }

    .footer {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:25rem) {
    .sec5 {
        grid-template-columns: auto;
    }

    .sec5-1 {
        grid-column: 1/span 2;
        padding: 2rem 0 0 1rem;
    }

    .sec5-2 {
        grid-column: 1/span 2;
        text-align: center;
        padding: 3rem 1rem;
        border-top: 0.1rem solid var(--secondary-color);
        margin-top: 3rem;
    }
}